/*---------------------- Fonts CSS -------------------- */

@font-face {
    font-family: 'Lato-Black';
    src: url('../fonts/Lato-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato-Bold';
    src: url('../fonts/Lato-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/Lato-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato-Light';
    src: url('../fonts/Lato-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato-Hairline';
    src: url('../fonts/Lato-Hairline.ttf') format('truetype');
}
@font-face {
    font-family: 'Kalam';
    src: url('../fonts/kalam.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat Light';
    src: url('../fonts/Montserrat-Light.otf') format('opentype');
}
@font-face {
    font-family: 'Myriad Pro Bold';
    src: url('../fonts/MYRIADPRO-BOLD.otf') format('opentype');
}
@font-face {
    font-family: 'Myriad Pro Regular';
    src: url('../fonts/MYRIADPRO-REGULAR.otf') format('opentype');
}
@font-face {
    font-family: 'Myriad Pro Semibold';
    src: url('../fonts/MYRIADPRO-SEMIBOLD.otf') format('opentype');
}

/*---------------------- HTML DOM CSS -------------------- */

html,
body {
    background: url("../img/lightmesh.png") top left repeat !important;
    font-family: 'Lato-Regular', sans-serif;
}
#genius-logo {
    padding-bottom: 10px;
    font-family: 'Kalam', 'Lato-Regular';
    font-size: 35px;
    text-decoration: none;
}
#genius-logo:hover {
    color: #2185d0;
}
header {
    padding: 0px 0px 0px 0px;
    margin-left: 250px;
    height: 960px;
    /*    background: url('../img/cityscape.jpg');*/
    background-color: #0769ad;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    position: relative;
}
header h1 {
    font-weight: 100;
    font-size: 130px;
    text-align: center;
    vertical-align: middle;
    /*should be equal to header height */
    font-family: 'Lato-Hairline';
    color: white;
    /*#103754;*/
}
#intro-start {
    font-family: 'Lato-Black';
    /*    padding-right: 30px;*/
}
#intro-learn {
    font-size: 40px;
    font-family: 'Lato-Hairline';
}
.pusher {
    max-width: 100%;
    padding: 0 0 0 0;
    text-align: center;
}

/*---------------------- Rows and Columns CSS -------------------- */

.row {
    min-height: 40px;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    width: 50%;
}
.col-xs-4 {
    padding-left: 5px;
}

/*---------------------- Containers CSS -------------------- */

.container {
    min-width: 1000px;
    width: 100%;
    text-align: center;
    padding: 0 0 0 0;
}
.container-fluid {
    max-width: 100%;
    margin: 4% 0 0 0;
    padding: 0 0 0 0;
    text-align: center;
}
#metro-container {
    min-height: 600px;
    margin: auto;
    position: relative;
    max-width: inherit;
}
#buttons-container {
    max-width: inherit;
    margin: auto;
    padding-top: 10px;
    text-align: center;
    position: relative;
}
#header-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*---------------------- Word Panel CSS -------------------- */

.word_panel {
    min-height: 250px;
    max-height: 300px;
    min-width: 250px;
    max-width: auto;
    padding: 5px 5px 0px 5px;
    text-align: center;
    font-family: sans-serif;
    color: white;
    margin: 2px 2px 2px 2px;
    border-radius: 5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent;
}

/*---------------------- Word CSS -------------------- */

#word {
    font-size: 22px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'Lato-Black', sans-serif;
    width: 240px;
    text-align: center;
}
.word_wrap {
    white-space: pre-wrap;
    /* CSS3 */
    white-space: -moz-pre-wrap;
    /* Firefox */
    white-space: -pre-wrap;
    /* Opera <7 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* IE */
}

/*---------------------- Definition CSS -------------------- */

#definition {
    padding: 0px 10px 10px 10px;
    font-size: 16px;
    font-family: 'Lato-Regular', sans-serif;
}

/*---------------------- Button CSS -------------------- */

#button_ready {
    margin-top: 2%;
    /*    min-width: 400px;*/
    font-family: 'Kalam', cursive;
}
#button_inOrder {
    opacity: 1;
}
#button_randomize {
    opacity: 0.5;
}
#google-search {
    margin-top: 100px;
    margin-right: 20px;
}
#google-image-search {
    margin-top: 100px;
    margin-right: 75px;
}
.hidden {
    display: inline;
}

/*---------------------- Search CSS -------------------- */

#search {
    margin-top: 10px;
}
#not-found {
    max-width: 100%;
    margin: -30% auto;
    padding: 0 0 0 0;
    font-family: 'Lato-Black';
    font-size: 30px;
}
#word-deck {
    font-family: 'Lato-Black';
    font-size: 80px;
    /*    min-height: 600px;*/
    margin: 10px 14% 0 0;
    position: relative;
    max-width: inherit;
}

/*---------------------- Letter Filter CSS -------------------- */

div.letterGroup {
    font-size: 13px;
}
.ui.list:first-child {
    margin-top: 15px;
}
.item {
    font-size: 16px;
}
a.letter {
    font-size: 13px;
    padding-bottom: 0px;
}
.ui.menu .item {
    padding-top: 20px;
    padding-bottom: 20px;
}

/*---------------------- Flipping CSS -------------------- */

.flip-container {
    perspective: 1000;
}

/* flip the pane when hovered */

.flip-container:hover .flipper,
.flip-container.hover .flipper {
    /*    transform: rotateY(180deg);*/
}

/* flip speed goes here */

.flipper {
    transition: .6s ease-out, background .3s ease-in;
    transform-style: preserve-3d;
    cursor: pointer;
}

/* hide back of pane during swap */

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    margin-left: -5px;
}

/* front pane, placed above back */

.front {
    z-index: 1;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */

.back {
    transform: rotateY(180deg);
}
